<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ui.main">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!--<service-->
        <!--android:name="com.squareup.leakcanary.internal.HeapAnalyzerService"-->
        <!--android:enabled="false"-->
        <!--android:process=":leakcanary" />-->
    <!--<service-->
        <!--android:name="com.squareup.leakcanary.DisplayLeakService"-->
        <!--android:enabled="false" />-->

    <application
        android:name="com.App"
        android:allowBackup="true"
        android:icon="@drawable/a"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.NoActionBar"
        >

        <activity
            android:name="com.ui.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="sited"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="file"/>
                <data android:host="*" />
                <data android:pathPattern=".*\\.sited" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="file"/>
                <data android:host="*" />
                <data android:mimeType="*/*"/>
                <data android:pathPattern=".*\\.sited" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.ui.webhome.webActivity"
            android:launchMode="singleTask">
        </activity>
        <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->
            <!--<category android:name="android.intent.category.LAUNCHER" />-->
        <!--</intent-filter>-->
        <!--<activity-->
            <!--android:name="com.ui.main.MainActivity"-->
            <!--android:launchMode="singleTask" >-->
        <!--</activity>-->
        <activity
            android:name="com.ui.Search.SearchActivity"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="com.ui.tag.TagActivity"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="com.ui.book1.Book1Activity"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="com.ui.Section1.Section1Activity"
            android:launchMode="singleTask" >
        </activity>
    </application>
</manifest>
